@media (min-width: 1440px) {
    .main{
      max-width: 1240px; 
      margin: auto; 
    }
} 

/* Responsive tablet */
@media screen and (max-width : 991px){
    .main{
        padding: 20px;
    }
}