.allcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; 
    padding: 20px;
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 25px;
  }
.card {
   
    border-radius: 10px;
    overflow: hidden;
    position: relative;
   
  }
  
  .card-cover {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 10px;
  }

  .card span {
    font-weight: 700;
    size: 18px;
    position: relative;
    bottom: 50px; 
    left: 10px; 
    color: white; 
    border-radius: 5px;
    font-size: 13px;
  }

  .card.card-wrapper{
    height: 200px;
  }


  /* Responsive mobile */
  @media  screen and (max-width : 767px) {
    .card span{
        font-size: 16px!important;
        left: 13px;
    }

    .allcards{
        padding: 5px;
        background-color: white;
    }
  }
