.collapse {
    background-color: #FF6060;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
  }

  .collapse-header {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    cursor: pointer;
  }
  
  .arrow {
    width: 24px;
    height: 24px;
    transition: transform 0.4s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
  h3 {
    color: white;
    font-size: 18px;
    margin-left: 5px;
  }
  
  .collapse-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: #fff;
    padding: 0 20px;
    border-radius: 0 0 5px 5px;
  }
  
  .collapse-content.show {
    max-height: 500px; 
    opacity: 1;
    padding: 10px;
  }

  p{
    padding: 5px;
  }

  /* Responsive mobile */
@media screen and (max-width: 767px) {
    .collapse {
      width: 100%;
    }
  }
  