.footer{
    background-color: black;
    height: 209px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    gap: 40px;
}

.footer-rights{
    color: white;
}

/* Responsive tablet */

/* Responsive mobile */
@media  screen and (max-width : 767px){
    .footer-rights{
        width: 30%;
        font-size: 12px;
        margin-left: 25px;
    }

    .footer{
        gap: 20px!important;
    }
}

