span{
    font-size: 288px;
    height: 263px;
    font-family: Montserrat;
    font-weight: 700;
    color: #FF6060;

}

h2{
    color: #FF6060;
    font-weight: 500;
}

.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

a.error-link{
    font-weight: 500;
    color: BLACK;
    margin-bottom: 50px;
}

/* Responsive mobile */
@media  screen and (max-width : 767px){
    span{
        font-size: 100px;
    }

    .error-container{
        height: 70vh; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        margin-bottom: 50px;
        margin-top: 50px;
    }

    h2{
        margin: auto !important;
    }

    a.error-link {
        margin-bottom: 0; 
    }
}